// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 800px;
  margin: 0 auto;
}

ul,
.form-check {
  padding-left: 0;
}

li {
  list-style: none;
}

#completed {
  font-style: italic;
  color: #3C4146;
}

#details {
  width: 300px;
  height: 200px;
  border: 1px solid #3C4146;
  border-radius: 4px;
  padding: 16px;
}

